# zygote
allow zygote init:unix_stream_socket { read write getattr listen getopt setopt accept };
allow zygote init:fifo_file { read write };
allow zygote servicemanager:binder { call transfer };
