#for DSSCOMP
/dev/dsscomp              0666   system     system
/dev/tiler                0666   system     system

#for SYSLINK
/dev/rpmsg-omx0           0666   system     system
/dev/rpmsg-omx1           0666   system     system

#for Sensors
/dev/mpu                  0660   system     system
/dev/mpuirq               0660   system     system
/dev/accelirq             0660   system     system
/dev/compassirq           0660   system     system
/dev/timerirq             0660   system     system

#for RIL
/dev/ttyO0                0666   radio      radio
/dev/umts_boot0           0666   radio      radio
/dev/umts_ipc0            0666   radio      radio
/dev/umts_rfs0            0666   radio      radio
/dev/block/mmcblk0p9      0666   radio      radio
